---
layout: none
---
<h2>Content for ideas-productivity.org Wordpress Site</h2>
			   
<em>Recommended procedure: use "view source" feature in browser (often
ctrl-u, or via context (right-click) menu to view HTML source.
Cut-and-paste into Wordpress as appropriate.</em>

{% include upcoming-event event=page.date %}

<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="webinar front matter" %}
{% include require-variable var=page.title varname="title"
   source="webinar front matter" %}
{% include require-variable var=page.webinar-id varname="webinar-id"
   source="webinar front matter" %}
{% include require-variable var=page.presenter-ids varname="presenter-ids"
   source="webinar front matter" %}
{% if upcoming %}
  {% include require-variable var=page.registration-url varname="registration-url"
     source="webinar front matter" %}
{% endif %}

{% include require-variable var=site.hpcbp-url varname="hpcbp-url"
   source="config.yml" %}


<!-- Construct things that we need --> 
{% if page.webinar-id < 10 %}
  {%- assign webinar-anchor = page.webinar-id | prepend: "webinar00" -%}
{% elsif page.webinar-id < 100 %}
  {%- assign webinar-anchor = page.webinar-id | prepend: "webinar0" -%}
{% elsif page.webinar-id < 1000 %}
  {%- assign webinar-anchor = page.webinar-id | prepend: "webinar" -%}
{% endif %}			   

{% assign psize = page.presenter-ids | size %}
{% if psize == 1 %}
  {%- assign plabel = "Presenter:" -%}
  {%- assign blabel = "Presenter Bio:" -%}
{% else %}
  {%- assign plabel = "Presenters:" -%}
  {%- assign blabel = "Presenter Bios:" -%}
{% endif %}

{% for pid in page.presenter-ids %}
  {% if forloop.index > 1 %}
    {% assign pstring = pstring | append: ", " %}
    {% if forloop.last %}
      {% assign pstring = pstring | append: " and " %}
    {% endif %}
  {% endif %}

  {%- assign p = site.presenters | where: "presenter-id", pid -%}
  {%- capture pafil -%}{{ p[0].firstname }} {{ p[0].lastname }} ({{- p[0].affiliations | array_to_sentence_string | lstrip | rstrip -}}){%- endcapture -%}
  {%- assign pstring = pstring | append: pafil -%}

  {% if p[0].content != empty %}
    {% assign pbio = pbio | append: p[0].content | markdownify -%}
  {% endif %}
{% endfor %}


<h3>Main HPC-BP listing
  {% if upcoming %}(Upcoming section){% else %}(Past section){% endif %}
</h3>

<section style="border: 3px; border-style: solid; padding: 1em">
{% if upcoming %}<!-- ----- BEGIN UPCOMING ENTRY ----- -->{% endif %}
  <ol reversed="" start="{{ page.webinar-id }}">
{% unless upcoming %}<!-- ---- BEGIN PAST ENTRY ----- -->{% endunless %}
    <li id="{{ webinar-anchor }}">
	  <p class="entry-title"><strong>{{ page.title }}</strong>
    {%- if upcoming -%}
      {% if page.registration-url %}
        [<a href="{{ page.registration-url }}">Register</a>]
      {% endif %}
    {% else %}
      ({{ page.date | date: "%F" }})
    {% endif %}
</p>

<ul>
  {%- if upcoming -%}
    <li><strong>Date and Time: </strong>
    {{page.date | date: "%A, %B %-d, %Y, %I:%M %P %Z" }}</li>
  {%- endif -%}

    {% if pstring %}
      <li><strong>{{ plabel }}</strong> {{ pstring | markdownify | remove: "<p>" | remove: "</p>" | strip }}
      </li>
    {% endif %}
    {% if page.archives %}
    <li><strong>Archives:</strong>
      {% for i in page.archives %}
      {% if i.yt-video-id %}
          <a href="https://www.youtube.com/watch?v={{ i.yt-video-id }}">{{ i.label }}</a>
        {% elsif i.url %}      
          <a href="{{ i.url }}">{{ i.label }}</a>
        {% else %}
	  <strong><em><font color="red">ERROR: Missing URL for label {{ i.label }}</font></em></strong>
        {% endif %}
        {% if i.format %} ({{ i.format }}){% endif %}
        {% unless forloop.last %} | {% endunless %}
      {% endfor %}
      </li>
    {% elsif wdate < today %}
      <li><strong>Archives:</strong> <em>to be published</em>
      </li>
    {% endif %}
    <li><strong>Decription:</strong> {{ content | markdownify | replace: "<p>", "<em>" | replace: "</p>", "</em>" | strip }}</li>
</ul>
</li>
{% unless upcoming %}<!-- ----- END PAST ENTRY ----- -->{% endunless %}
  </ol>
{% if upcoming %}<!-- ----- END UPCOMING ENTRY ----- -->{% endif %}
</section>

<h3>Upcoming Events Entry</h3>

<em>Appears on main page and events page.</em>

<section style="border: 3px; border-style: solid; padding: 1em">

<ul>
<!-- ----- BEGIN ENTRY ----- -->
  <li><strong><a href="{{ site.hpcbp-url }}#{{ webinar-anchor}}">{{ page.title }}</a></strong> is the next webinar in the <strong><a href="{{ site.hpcbp-url }}">Best Practices for HPC Software Developers</a></strong> series ({{ page.date | date: "%B, %Y" }}). [<a href="{{ site.hpcbp-url }}#{{ webinar-anchor}}">Information and registration</a>]</li>
<!-- ----- END ENTRY ----- -->
</ul>
</section>
