---
layout: none
---
<h2>Content for YouTube</h2>			 

<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="webinar front matter" %}
{% include require-variable var=page.title varname="title"
   source="webinar front matter" %}
{% include require-variable var=page.webinar-id varname="webinar-id"
   source="webinar front matter" %}
{% include require-variable var=page.presenter-ids varname="presenter-ids"
   source="webinar front matter" %}

{% include require-variable var=site.hpcbp-url varname="hpcbp-url"
   source="config.yml" %}
{% include require-variable var=site.youtube-title-max varname="youtube-title-max"
   source="config.yml" %}

<!-- Construct things that we need -->
{% if page.webinar-id < 10 %}
  {%- assign webinar-number-filled = page.webinar-id | prepend: "00" -%}
{% elsif page.webinar-id < 100 %}
  {%- assign webinar-number-filled = page.webinar-id | prepend: "0" -%}
{% elsif page.webinar-id < 1000 %}
  {%- assign webinar-number-filled = page.webinar-id -%}
{% endif %}			   

{% for pid in page.presenter-ids %}
  {% if forloop.index > 1 %}
    {% assign pstring = pstring | append: ", " %}
    {% if forloop.last %}
      {% assign pstring = pstring | append: " and " %}
    {% endif %}
  {% endif %}

  {%- assign p = site.presenters | where: "presenter-id", pid -%}
  {% unless p[0] %}<p><strong><em><font color="red">ERROR: no match for presenter-id {{ pid }}</font></em></strong></p>{% endunless %}
  {%- capture pafil -%}{{ p[0].firstname }} {{ p[0].lastname }} ({{- p[0].affiliations | array_to_sentence_string | lstrip | rstrip -}}){%- endcapture -%}
  {%- assign pstring = pstring | append: pafil -%}
{% endfor %}

{%- assign tfull = "Webinar " -%}
{%- assign tfull = tfull | append:  webinar-number-filled -%}
{%- assign tfull = tfull | append: ": " -%}
{%- assign tfull = tfull | append: page.title -%}

{% assign tlength = tfull | size %}


<h3>Basic Tab</h3>

{% if tlength > site.youtube-title-max %}
<p><strong><em><font color="red">WARNING: Full title is longer than YouTube limit of {{ site.youtube-title-max }} characters.</font></em></strong></p>

  <p><strong>Full title:</strong> {{ tfull }}</p>
  <p><strong>Truncated title:</strong> {{ tfull | truncate: site.youtube-title-max, "" }}
    <p><em>Preferred alternative: edit title to make sense at {{ site.youtube-title-max }} characters.</em></p>
{% else %}
<p><strong>Title:</strong> {{ tfull }}</strong></p>
{% endif %}


<p><strong>Description:</strong><br>
<section style="border: 3px; border-style: solid; padding: 1em">
{% if tlength > site.youtube-title-max %}
Full title: {{ page.title }}<br>
{% endif %}
Presented by: {{ pstring | markdownify | remove: "<p>" | remove: "</p>" | strip }}<br>
Presented on: {{ page.date | date: "%F" }}

{{ content }}

For more information about the HPC Best Practices webinars, including
slides and Q&A archives for this presentation, other presentations in
the series, and a mailing list for announcements of future webinars,
please visit {{ site.hpcbp-url }}
</section>

<p><strong>Tags:</strong> HPC Best Practices webinars</p>
  
<h3>Advanced Tab</h3>

<p><strong>Recording Date:</strong> {{ page.date | date: "%b %d, %Y" }}</p>

</section>
